#logo {
    font-family: 'Russo One', sans-serif;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    /* animation: <name> <duration> <timing-function> <delay> <iteration-count> <direction> <fill-mode> <play-state> */
    animation: rotateY 5s ease 2s 3 normal forwards running;
}

#logo1 {
    transform:  rotateY(180deg);
}

@keyframes rotateY {
    0% {
        transform:  rotateY(0deg);
    }
    100% {
        transform:  rotateY(360deg);
    }
}

.signo {
    font-size: 12px;
    vertical-align: middle;
}

.tarjetaRP {
    max-height: 192px;
}

#footer {
    font-size: 10px !important;
    background-color: var(--bs-cyan);
}

@media (min-width: 772px) {
    #footer {
        position: fixed;
        bottom: 0;
        font-size: 15px !important;
    }
}